
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
  display: flex;
  margin-top: 30px;
  width: 300px;
  height: 80px;
  /* background-color:#2f3337; */
  border-radius: 15px;
}
.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f2b6f;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: aliceblue;
  background-image: -moz-linear-gradient(black);
  margin-left: 30px;
  margin-top: 15px;
}
.information{
font-size: 7px;
color: lightgray;
margin-left: 10px;




}
.fullName{
  color: aliceblue;
}
/* .tic-tac-container{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: darkgray
}
.tic-tac-button{
  width: 33%;
  height: 33%;
  font-size: 80px;
  color: #7f2b6f;
  background-color: pink;
  
}
.tic-tac-button :hover{
  background-color: aliceblue;
} */
  .isCompleted{
    text-decoration: line-through;
  }
  .notCompleted{
    font-weight: 800;
  }
/* .toDoListContainer{
  border: 1px solid black;
  border-radius: 15px;
  width: 600px;
  height: 800px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: rgb(234, 224, 242);
}
.smallContainer{
  border: 1px solid darkgray;
  background-color: #efe9f3;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin: 10px;
  box-shadow: #2f3337;
} */
