.main{
  display: flex;
  margin-right: 20px;
 }
.airbnb-container{
width: 300px;
flex-wrap: wrap;
margin-left: 40px;
margin-right: 30px;
}
img{
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border-radius: 10px;

}
.information1{
font-size: 15px;
align-items: center;
display: flex;
justify-content:space-between;
font-weight: 600;
}
.smallInformation{
align-items: center;
display: flex;

}
.information2{
  font-size: 15px; 
}


