
.container{
width: 300px;
flex-wrap: wrap;
}
img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  /* padding: 30px; */
  border-radius: 10px;
}
.information1{
font-size: 15px;
display: flex;
justify-content: space-between;
  
}
.information2{
  font-size: 15px;
  
}

.main{
 display: flex;
}
.Away{
  background-color: yellow;
}
.Offline{
  background-color: red;
}
.Active{
  background-color: green;
}