.body-employee{
    background-color:#f5ebe0;
    width: 1200px;
    height: 1200px;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}
.employees{
    display: flex;
    flex-wrap: wrap;
    
}

.employee-card-container{
    display: flex;
    background-color: #d6ccc2;
    border: 1px solid black;
    width: 350px;
    height: 550px;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 10px;
    justify-content: center;
    margin-right: 20px;
    margin-left: 300px;
    
}
.employee-detail{
    width: 200px;
    height: 30px;
    border-bottom:1px solid gray ;
    margin-top: 3px;
    align-self: center;
}
.employee-card{
    display: flex;
    flex-wrap: wrap;
}
.form-container{
    width: 900px;
    display: flex;
    flex-direction: column;
}
.employee-card-button{
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-top: 20px;
}


